* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.dashboard {
    width: 100%;
    padding: 0 50px;
}

.assignment-zone-wrapper {
    margin: auto;
    background-color: #727386;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Đảm bảo nội dung bên trong tuân theo viền bo */
}

.assignment-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 78vh;
    overflow-y: auto; /* Bật cuộn dọc */
    gap: 2.4rem;
    padding: 0.5rem;
}

.btn-create {
    margin-top: 10px;
    float: right;
    background-color: #1c5ab2;
    color: #fff;
    padding: 10px 20px;
    border: #3e435d 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

button:hover {
    background-color: #0071e2;
}

